* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: linear-gradient(135deg, #0f172a, #1e1b4b, #020617);
  color: white;
}

html {
  scroll-behavior: smooth;
}

/* Fix navbar overlap */
section {
  scroll-margin-top: 90px;
}
